
body{
    background-image: url(../assets/ae341126babf4abed6f1e03065c83903e0db5a7b_2000x2000\ 1.png);
    background-size: cover;
}

.mainBox{
    margin: 20px;
}
.currentDay{
    background-color: #707093B2;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.favBox{
    background-color: #44447BCC;
    color: white;
    padding: 20px;
    margin-top: 8px;
    
}






.inline{
    max-width:400px;
    margin:auto;
}
.input-icons i {
    position:absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;

}

.txtColor{
    color: white;
}
.currentImage{
    width: 100%;
}
.currentDes{
    text-align: center;
    color: white;
}
.currentDate{
    text-align: center;
}
.currentTemp{
    font-size: 100px;
    text-align: center;
}

.favCol{
    background-color:#707093B2;
    padding: 10px;
    border-radius: 10px;
}
.favTab{
    color: white;
    text-align: center;
}
.forCard{
    background-color: #707093B2;
    color: white;
    text-align: center;
}

.cityName{
    background-color: #44447BCC;
    color: white;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.fiveDayFor{
    justify-content: space-evenly;
    margin-top: 20px;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 2px solid transparent;
    border-radius: 10px;
    float: left;
    width: 80%;
    background: #707093B2;
  }
  

  

  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }